*.pdf

firmware/src/build/
firmware/src/dist/
firmware/src/nbproject/Makefile-*.mk
firmware/src/nbproject/Makefile-genesis.properties
firmware/src/nbproject/Package-*.bash
firmware/src/nbproject/private/**
firmware/src/funclist
firmware/src/*.err
firmware/src/*.obj

hardware/datasheets
hardware/dist
hardware/src/*-backups
hardware/src/fp-info-cache
hardware/src/*.kicad_prl
hardware/src/*.kicad_*.lck
research/

software/src/**/bin/
software/src/**/obj/
software/src/**/*.csproj.user
